.w3-animate-bottom {
    position: relative;
    animation: animatebottom 4s
}

.constrn{
    border-bottom: 2px dotted #4d0000;
    border-top: 2px dotted #4d0000;
    margin-bottom: 10px !important;
    background-color: #800000;
    color: #dadada;
    margin: 5px 20px;
    padding: 20px;
}
@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.w3-animate-right {
    position: relative;
    animation: animateleft 5s
}

#about {
    font-weight: bold;
}

.fa-cog {
    color: #ccc !important;
    font-size: 100px;
}

.cog2 {
    color: #333 !important;
    font-size: 100px;
}

@keyframes animateleft {
    from {
        right: -200px;
        opacity: 1
    }
    to {
        right: 0;
        opacity: 1
    }
}

h3 {
    font-weight: bold;
    font-size: 200%;
    ;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #fff !important;
}

#myPage {
    background-image: url(images/lodgeh.jpg), url(images/lodge17.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

.cont {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.w3-spin {
    animation: w3-spin 10s infinite linear
}

@keyframes w3-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #9d0808 !important
}

#midbody {
    border-top: 1px solid #fff;
}

#dreamit {
    color: #bfbfbf;
    font-size: 12px;
    ;
}

nav {
    background: rgba(128, 0, 0, 0.95) !important;
}

nav a {
    border-bottom: 1px solid #bfbfbf;
}

.w3-bar-item:hover {
    color: #fff;
    background-color: #4d0000 !important;
}

nav button:hover {
    background-color: #4d0000 !important;
}

.w3-bar {
    width: 100%;
    margin: 0;
}

#myHeader {
    background: #262626 !important;
}



.fa-chevron-circle-right {
    color: #800000;
    font-size: 250%;
}

.fa-chevron-circle-left {
    color: #669900;
    font-size: 250%;
}

@charset "UTF-8";
@media only screen and (max-width: 600px) {

    #ades{
        margin-bottom: 20px;
    }
    #headingbig {
        display: none;
    }
    #picsg{
        max-width: 350px;
        height: 200px;
        margin: auto;
    }
    #option {
        display: none;
    }
    footer {
       margin-top: 50px;
    }
    
}


/*-------------BIG SCREENS-------------*/

@charset "UTF-8";
@media only screen and (min-width: 600px) {
    #ades{
        margin: 20px;
    }
    .w3-half{width:45% !important}
    .mySlides {
        min-width: 350px;
        margin: auto;
    }
    #headingsmall {
        display: none;
    }
    #mySidebar {
        display: none;
    }
}

#nme {
    color: #b30000;
}

footer {
    background: rgba(0, 0, 0, 0.95);
}

footer h2 {
    font-weight: bold;
    color: #b30000 !important;
}

footer p {
    color: #bfbfbf;
}

footer p i {
    color: #b30000 !important;
}

#abt {
    margin: 0;
    color: #b30000;
}