h4{
	color: #800000;
}

.w3-theme-d4 {color:#fff !important; background-color:#9d0808 !important}
#midbody{
	border-top: 1px solid #800000;
	
}

.w3-bar{
	width: 100%; margin: 0;
}
.w3-bar-item {
	font-weight: normal;
}
.mySlides{
	height: 450px; margin: auto;

}


@charset "UTF-8";
@media only screen and (max-width: 600px) {

#headingbig{
	display: none;
}
.mySlides{
	max-width: 350px; margin: auto;
}
#option{
	display: none;
}
}

/*-------------BIG SCREENS-------------*/
@charset "UTF-8";
@media only screen and (min-width: 600px) {

#headingsmall{
	display: none;
}
#mySidebar {
	display: none;
}

}